{% if page.categories contains category %}
{% capture condensed %}
How to test {% assign firstLetter = page.title | downcase | slice: 0 %}{% if firstLetter == 'a' or firstLetter== 'e' or firstLetter== 'i' or firstLetter== 'i' or firstLetter== 'u'  %}an{% else %}a{% endif %} {{ page.title | escape | downcase }}

1. Test screen reader + keyboard actions
{% for action in page.keyboard %}- {{ action[0] | capitalize }}: {{ action[1] | escape }}{% endfor %}
2. Listen to screen reader output
{% for output in page.screenreader %}- {{ output[0] | capitalize }}: {{ output[1] | escape }}{% endfor %}
{% if page.settings and page.settings != "" -%}
3. Device OS settings
{% for output in page.settings %}- {{ output[0] | capitalize }}: {{ output[1] | escape }}{% endfor %}
{% endif %}
{% endcapture %}

{% capture condensed-clean %}
{{ condensed | strip | lstrip }}

Full information: {{ page.url | absolute_url | replace: '.html', '/' }}
{% endcapture %}