<footer class="container" id="footer">
  <nav aria-label="Site map">
    <ul>
      <li>
        <a href="{{ site.baseurl}}/how-to-test/">
          How-to Test
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl}}/web/">
          Web checklist
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl}}/Desktop/">
          Desktop checklist
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl}}/demos/">
          Demos
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl}}/testing-environment/">
          Set Up Your Testing Environment
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl}}/resources/">
          Learning Resources
        </a>
      </li>
                  <li>
        <a href="{{ site.baseurl}}/about/">
          About
        </a>
      </li>
      <li>
        <a href="mailto:Kim.Lanahan-Lahti@state.mn.us?subject=MNIT%20DOT%20A11y%20comment">
          Send Feedback
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl}}/site-map/">
          Site map
        </a>
      </li>
    </ul>
  </nav>
  <p>{{ site.description | escape }}</p>
  <p class="last-modified" id='last-modified'></p>
</footer>
