<header class="container">
  <nav id="nav" class="menu" aria-label="Site menu">
    <ul>
      <li class="home">
        <a aria-label="MNIT DOT Accessibility" aria-current="page" href="/"
          >MNIT DOT A11y
        </a>
      </li>
      <li class="web alpha">
        <a href="/web/">Web </a>
      </li>
      <li class="web alpha">
        <a href="/desktop/">Desktop Apps </a>
      </li>
      <li class="native alpha">
        <a href="/native/">Native Apps </a>
      </li>
      <li class="web alpha">
        <a href="/identifying-components/">Identifying Components </a>
      </li>
      <li class="native bravo">
        <a href="/how-to-test/">How-to Test </a>
      </li>
      <li class="native bravo">
        <a href="/demos/">Demos </a>
      </li>
      <li class="expander-group site-sub-group">
        <button class="expander-toggle" aria-expanded="false">More</button>
        <ul class="expander-content">
          <li>
            <a href="/how-to-test/">How-to Test</a>
          </li>
          <li>
            <a href="/demos/">Demos</a>
          </li>
          <li>
            <a href="/developing-components/">Developing Components</a>
          </li>
          <li>
            <a href="/about/">About</a>
          </li>
          <li>
            <a href="/code-of-conduct/">Code of Conduct</a>
          </li>
        </ul>
      </li>
    </ul>

<script async src="https://cse.google.com/cse.js?cx=4568d52831f6a44d2">
</script>
<div class="search-container"></div>
  </nav>
</header>

