.disabled-print-button {
  border: none;
  color: grey;
  padding: 0; /* Remove default padding */
  font-size: 0; /* Remove text size */
  cursor: pointer;
  display: inline-flex; /* Use flexbox for centering */
  align-items: center; /* Center icon vertically */
  justify-content: center; /* Center icon horizontally */
  background: transparent; /* Transparent background */
}

@media print {
  .print-button {
      display: none;
  }
}