---
layout: default
---

<div class="container">
  <h1 class="h-alpha">{{ page.title | escape }}</h1>
  <div class="post-content narrow">
    {{ content }}
  </div>
</div>
<ul class="container">
{% assign checklist_page = site.checklist-web | where: "slug", page.slug | first %}
{% if checklist_page %}
  <li><a class="" href="/checklist-web/{{ page.slug }}">How to test {{ page.title | downcase | escape }} on the web</a></li>
{% endif %}
{% assign checklist_page = site.checklist-native | where: "slug", page.slug | first %}
{% if checklist_page %}
  <li><a class="" href="/checklist-native/{{ page.slug }}">How to test {{ page.title | downcase | escape }} on native mobile</a></li>
{% endif %}
    <li><a class="" href="#content">Back to top of page</a></li>
</ul>

