---
layout: base
---
<div class="container">
  <div>
    <div class="post-content">
      
      <h1 class="h-alpha">
        <span class="h-delta">Developer Resources</span><br/>
        {{ page.title | escape }}
      </h1>

      <nav aria-label="Developer Resources">
        <ul class="cards cards-how-to-test">
          <li class="card emphasized">
            <a href="/java-axe-core/setup.html">
              <span class="title">Java Axe-Core Integration</span>
            </a>
          </li>
          <li class="card emphasized">
            <a href="/python-axe-core/setup.html">
              <span class="title">Python Axe-Core Integration</span>
            </a>
          </li>
          <li class="card emphasized">
            <a href="/how-to-test/images/">
              <span class="title">C# Axe-Core Integration</span>
            </a>
          </li>
          <li class="card">
            <a href="/angular/setup.html">
              <span class="title">Angular Axe-Core Integration</span>
            </a>
          </li>
          <li class="card">
            <a href="/how-to-test/axe/">
              <span class="title">IntelliJ Axe-Core Integration</span>
            </a>
          </li>
          <li class="card">
            <a href="/how-to-test/link-button/">
              <span class="title">.NET Axe-Core Integration</span>
            </a>
          </li>
                  <li class="card">
            <a href="/ci-cd/setup-ci-cd.html">
              <span class="title">CI/CD Integration</span>
            </a>
          </li>
          <li class="card">
            <a href="/components/intro.html">
              <span class="title">Accessible Components</span>
            </a>
          </li>
          </ul>
      </nav>

    </div>
  </div>
</div>
<div class="container post-content narrow">
  {{ content }}
</div>

