---
layout: default
---

<div class="container">
  <h1 class="h-alpha">
    Accessibility Acceptance Criteria
  </h1>
</div>
<div class="container post-content">
  {{ content }}
</div>

<div class="container">
  <ul class="cards home">
    <li class="card">
      <a class="display" href="{{ site.baseurl }}/web/">

        <svg aria-hidden="true" height='100px' width='100px' fill="#000000" xmlns:dc="http://purl.org/dc/elements/1.1/"
             xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
             xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg"
             xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
             xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" version="1.1" x="0px" y="0px"
             viewBox="0 0 100 100">
          <g transform="translate(0,-952.36218)"><title>Web browser</title>
            <path
                style="text-indent:0;text-transform:none;direction:ltr;block-progression:tb;baseline-shift:baseline;color:#000000;enable-background:accumulate;"
                d="m 10,968.36219 c -3.28936,0 -6,2.71056 -6,6 l 0,60.00001 a 2.0002,2.0002 0 0 0 2,2 l 88,0 a 2.0002,2.0002 0 0 0 2,-2 l 0,-60.00002 c 0,-3.28944 -2.71064,-6 -6,-6 l -80,0 z m 0,4 80,0 c 1.1427,0 2,0.85724 2,2 l 0,10 -84,0 0,-10 c 0,-1.14276 0.8573,-2 2,-2 z m 4,3 c -1.65686,0 -3,1.3431 -3,3 0,1.6568 1.34314,3 3,3 1.65685,0 3,-1.3432 3,-3 0,-1.6569 -1.34315,-3 -3,-3 z m 10,0 c -1.65686,0 -3,1.3431 -3,3 0,1.6568 1.34314,3 3,3 1.65685,0 3,-1.3432 3,-3 0,-1.6569 -1.34315,-3 -3,-3 z m 10,0 c -1.65686,0 -3,1.3431 -3,3 0,1.6568 1.34314,3 3,3 1.65685,0 3,-1.3432 3,-3 0,-1.6569 -1.34315,-3 -3,-3 z m -26,13 84,0 0,44.00001 -84,0 0,-44.00002 z"
                fill="#000000" fill-opacity="1" stroke="none" marker="none" visibility="visible" display="inline"
                overflow="visible"></path>
          </g>
        </svg>

        Web
        <span class="secondary-text">accessibility checklist</span>
      </a>
    </li>
    
    <li class="card card-how-to">
      <a class="display" href="{{ site.baseurl }}/how-to-test/">
        
        How to       
        <span class="secondary-text">test components</span>
      </a>
    </li>

    <li class="card card-demo">
      <a class="display" href="{{ site.baseurl }}/demos/">
        Demo
        <span class="secondary-text">working components</span>
      </a>
    </li>
    
  </ul>
  
</div>

