---
layout: base
---
<div class="container">
  <div>
    <div class="post-content">
      
      <h1 class="h-alpha">
        <span class="h-delta">How to test</span><br/>
        {{ page.title | escape }}
      </h1>

      <nav aria-label="How to test">
        <ul class="cards cards-how-to-test">
          <li class="card emphasized">
            <a href="/how-to-test/keyboard-focus/" class="icon-keyboard">
              <span class="title">Keyboard &amp; focus</span>
            </a>
          </li>
          <li class="card emphasized">
            <a href="/how-to-test/form/" class="icon-form">
              <span class="title">Forms & input fields</span>
            </a>
          </li>
          <li class="card emphasized">
            <a href="/how-to-test/images/" class="icon-image">
              <span class="title">Images</span>
            </a>
          </li>
          <li class="card">
            <a href="/how-to-test/screen-readers/" class="icon-speaker" >
              <span class="title">Screen readers</span>
            </a>
          </li>
          <li class="card">
            <a href="/how-to-test/axe/" class="icon-axe">
              <span class="title">Using axe DevTools</span>
            </a>
          </li>
          <li class="card">
            <a href="/how-to-test/link-button/" class="icon-link">
              <span class="title">Links &amp; buttons</span>
            </a>
          </li>
                  <li class="card">
            <a href="/how-to-test/color-contrast/" class="icon-contrast">
              <span class="title">Color &amp; contrast</span>
            </a>
          </li>
          <li class="card">
            <a href="/how-to-test/zoom-magnification/" class="icon-zoom">
              <span class="title">Zoom &amp; magnification</span>
            </a>
          </li>
          <li class="card">
            <a href="/how-to-test/test-pdf/" class="icon-document">
              <span class="title">PDF</span>
            </a>
          </li>
          </ul>
      </nav>

    </div>
  </div>
</div>
<div class="container post-content narrow">
  {{ content }}
</div>

