---
layout: default
---
<div class="container">
  <div>
    <div class="post-content">
      
      <h1 class="h-alpha">
        <span class="h-delta">Identifying Components</span><br/>
        {{ page.title | escape }}
      </h1>

      <nav aria-label="Identify Components">
        <ul class="cards cards-how-to-test">
          <li class="card emphasized">
            <a href="/identifying-components#alert" class="icon-keyboard">
              <span class="title">Keyboard &amp; focus</span>
            </a>
          </li>
          <li class="card emphasized">
            <a href="/identifying-components#dialog" class="icon-form">
              <span class="title">Dialog (Modals)</span>
            </a>
          </li>
          <li class="card emphasized">
            <a href="/identifying-components#progress" class="icon-image">
              <span class="title">Progress Bar</span>
            </a>
          </li>
          <li class="card">
            <a href="/how-to-test/screen-readers/" class="icon-speaker" >
              <span class="title">Screen readers</span>
            </a>
          </li>
          <li class="card">
            <a href="/how-to-test/link-button/" class="icon-link">
              <span class="title">Links &amp; buttons</span>
            </a>
          </li>
          <li class="card">
            <a href="/how-to-test/color-contrast/" class="icon-contrast">
              <span class="title">Color &amp; contrast</span>
            </a>
          </li>
          <li class="card">
            <a href="/how-to-test/not-sure-if-it-is-an-issue/" class="icon-alert">
              <span class="title">Not sure if it is an issue?</span>
            </a>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</div>
<div class="container post-content narrow">
  {{ content }}
</div>

